<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="AmzonSearchProductTest">
	
		<classes>
			<class name="test.AmzonSearchProductTest" />

		</classes>
	</test>
	
	<test name="FlipkartProductSearchTest">
	
		<classes>
			<class name="test.FlipkartProductSearchTest" />

		</classes>
	</test>

</suite> 
